In [1]:
import pandas as pd
import numpy as np

In [2]:
my_series = [5,9,12,11]
my_var = pd.Series(my_series)
my_var

0     5
1     9
2    12
3    11
dtype: int64

In [3]:
my_var[2]

12

In [4]:
my_index = ["A", "B" , "C", "D" ]
my_var2 = pd.Series(my_series, my_index)

In [5]:
my_var2

A     5
B     9
C    12
D    11
dtype: int64

In [6]:
cars = {"Tesla":12, "Mercedes":17, "BMW":23}
my_var3 = pd.Series(cars)
my_var3

Tesla       12
Mercedes    17
BMW         23
dtype: int64